<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-capable" content="yes">
    <title>-My Robot V3.1.1-</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scene.css') }}">
    <script src="{{ url_for('static', filename='js/babylon.custom.js') }}"></script>

</head>

<body>
    <canvas id="renderCanvas"></canvas>
    <script src="{{ url_for('static', filename='js/scene.js') }}"></script>
</body>

</html>


<!--<html>-->
    <!--<head>-->
        <!--<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>-->
        <!--<title>Babylon</title>-->
        <!--<script src="{{ url_for('static', filename='babylon.max.js') }}"></script>-->
        <!--<script src="{{ url_for('static', filename='basic.js') }}"></script>-->
        <!--<style>-->
            <!--html, body {-->
                <!--overflow: hidden;-->
                <!--width   : 100%;-->
                <!--height  : 100%;-->
                <!--margin  : 0;-->
                <!--padding : 0;-->
            <!--}-->
    <!---->
            <!--#renderCanvas {-->
                <!--width   : 100%;-->
                <!--height  : 100%;-->
                <!--touch-action: none;-->
            <!--}-->
        <!--</style>-->
    <!--</head>-->
    <!--<body>-->
        <!--<div>-->
            <!--<canvas id="renderCanvas"></canvas>               -->
        <!--</div>-->
    <!--</body>-->
<!--</html>-->


